
    <h3>Sign up!</h3>
    <h2>{{usercreated}}</h2>
    <form action="/signup" method="post">
        Name: <input type="text" name="name" required/><br/><br/>
        Email: <input type="email" name="email" required/><br/><br/>
        UserName: <input type="text" name="username" required/><br/><br/>
        Password: <input type="password" name="password" required/><br/><br/>
        Phone Number: <input type="number" name="phoneno" required/><br/><br/>
        <input type="submit" value="SignUp" onclick="check({{usercreated}})" required/><br/><br/>
    </form>
<script>
    async function check(usercreated){
        console.log("In check out");
        await if({usercreated}===false){
            console.log("In check");
        window.alert('Username is already taken');
    }
    }
</script>